---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10 text-justify">
    Hey! My name is Tyler Stevens, an entrepreneur, bitcoiner and engineer, based in Colorado USA. I'm heavily involved in the Rocky Mountain bitcoin community. To stay active, I enjoy snowbaording, overland camping, off-road driving, and hiking. I am an automotive enthusiast who loves to tinker on my vehicles. Take a look around my website to see some more detail about my projects and passions.
  </div>

  <hr>

  <div class="mb-10 text-justify">
    On the <strong>Home</strong> page, you'll find social links as well as my latest projects and blog posts.
  </div>

  <div class="mb-10 text-justify">
    The <strong>Blog</strong> page links to all of my writings across various publications.
  </div>

  <div class="mb-10 text-justify">
    Under <strong>Portfolio</strong>, you can find documenation on some of my favorite projects and work.
  </div>

  <div class="mb-10 text-justify">
    The <strong>Resume</strong> page outlines the timeline of my work.
  </div>

  <div class="mb-10 text-justify">
    You can find links to all of my online presence on the <strong>Contact</strong> page.
  </div>

  <div class="mb-10 text-justify">
    If you're feeling generous, you can donate to me directly via links on the <strong>Support My Work</strong> page.
  </div>
</BaseLayout>
