---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About</div>
  </div>

  <div class="mb-10 text-justify">
    Hey! My name is Tyler Stevens, an entrepreneur, bitcoiner and engineer, based in Colorado USA. I'm heavily involved in the Rocky Mountain bitcoin community. To stay active, I enjoy snowbaording, overland camping, off-road driving, and hiking. I am an automotive enthusiast who loves to tinker on my vehicles. Take a look around my website to see some more detail about my projects and passions.
  </div>
</BaseLayout>
