---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Howdy 👋</div>
    <div class="text-5xl font-bold">I'm Tyler Stevens</div>
    <div class="text-3xl py-3 font-bold">A Bitcoin Maximalist, Gear Head & Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to my personal website! Take a look around to see some of my recent projects, appearances, content, and experience.
        If you want to learn more or get in touch, connect with me at the links below.
      </text>
    </div>
    <div class="flex justify-center flex-wrap mt-8">
      <a href="https://x.com/tylerkstevens" target="_blank" class="btn btn-outline mr-2 mb-2">Follow on X</a>
      <a href="https://primal.net/tyler" target="_blank" class="btn btn-outline mr-2 mb-2">Follow on nostr</a>
      <a href="https://t.me/tylerkstevens" target="_blank" class="btn btn-outline mr-2 mb-2">Telegram chat</a>
      <a href="mailto:contact@tylerstevens.me" target="_blank" class="btn btn-outline mr-2 mb-2">Email me</a>
      <a href="https://cal.com/tylerkstevens" target="_blank" class="btn btn-outline mr-2 mb-2">Book a call</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">What I've been up to</div>
  </div>

  <HorizontalCard
    title="Author - Bitcoin Mining Heat Reuse"
    img="/bitcoin_mining_heatreuse_cover_draft.jpg"
    desc="I wrote a book exploring the emerging industry of heating with bitcoin miners, aiming to educate individuals and professionals in both the bitcoin and heating sectors. This comprehensive guide examines why this technology matters, who can benefit from it, how to implement it, and provides insights into potential savings, challenges, and future trends."
    url="https://braiins.com/books/bitcoin-mining-heat-reuse"
    badge="NEW BOOK"
  />
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="Co-Founder & CEO, Exergy"
    img="/Logo1_black_on_blue_rectangle.png"
    desc="Exergy is a heating company, powered by hashrate. Offset utility costs with maximum efficiency and monetized heat. We size, design and install heat that pays. | EST: 828310 | Click to see how much you can save."
    url="http://exergyheat.com"
    badge="MY BUSINESS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Co-Founder & CEO, The Space"
    img="/TheSpace_Logo1.png"
    desc="The Space is a member-run bitcoin community hub with an open source model. Our location in Denver, CO offers educational events, workspace and community building resources. Established block 836738."
    url="https://denver.space"
    badge="COMMUNITY INVOLVEMENT"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest content</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
