---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
  </div>

  <div class="mb-10 text-justify">
    BACKGROUND INFORMATION ON MY RESUME
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Independent Contractor..."
      subtitle="January 2024 - Present | "
    >
      NEW INFO HERE
    </TimeLineElement>
    <TimeLineElement
      title="Thermal Engineer - Vulcan Rocket Major Development & Upgrades"
      subtitle="November 2022 - January 2024 | United Launch Alliance (ULA), Denver, CO"
    >
      At United Launch Alliance, I performed heat transfer and thermodynamic analysis as part of the Vulcan Centaur Rocket - Upgrades Program. Daily work involved applying principles of heat transfer and the laws of thermodynamics to analyze various rocket components. Collaboration with multiple engineering teams was required to extract necessary data, such as environments, model logic, thermophysical properties, and trajectories, in order to create simulated vehicle mission thermal analyses. Additionally, I contributed to the thermal development of the reuse program, participating in early-concept design discussions for reusing booster engines. This included conducting design trades for thermal protection systems to ensure the vehicle's survival in new environments. Other experience includes on-console thermal support during launches for live monitoring, digestion, and communication of thermal data to relevant stakeholders.
    </TimeLineElement>
    <TimeLineElement
      title="Manufacturing Engineering Intnern - Brass Building"
      subtitle="Summer 2019 | Kohler Company, Kowhler, WI"
    >
      Lean manufacturing, line production, and system optimization/waste reduction. One-piece flow. CAD part fixture design and integration. CNC programming and manufacturing process flow development. Practiced rapid prototyping and problem solving. Gained experience on the factory floor with tooling, machinists, product development, and quickly resolving production obstacles.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Community Involvement</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="General Manager / CEO of The Space - Denver, a Bitcoin Social Orgnaization"
      subtitle="April 2024 - Present"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Denver BitDevs Member"
      subtitle="2022 - Present"
    >
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S. Mechanical Engineering | Thermal Focus | Division I Graduate Assistant Coach"
      subtitle="2020 to 2021 at the University of Wisconsin - Madison, Madison, WI"
    />
    <TimeLineElement
      title="B.S. Mechanical Engineering | Minor in Mathematics | NCAA Division I Athlete"
      subtitle="2015 to 2020 at the University of Wisconsin - Madison, Madison, WI"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certified Bitcoin Maximalist. Fiat disrespector.</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>Thermodynamic Energy Balance Modeling</li>
    <li>Heat Transfer Analysis</li>
    <li>Thermal Desktop, RadCAD, Sinda Fluint</li>
    <li>Engineering Equation Solver (EES)</li>
    <li>CAD: Onshape, SpaceClaim, Fusion360, NX, Solidworks, Autodesk, Creo Parametric</li>
    <li>Programing: Python, C++, Matlab, HTML</li>
    <li>FEA, CFD</li>
  </ul>

  <ul class="list-disc mx-6 mb-10 grid gap-2"></ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Extracurriculars</div>
  </div>

  <ul class="list-disc mx-6 mb-2 grid gap-2">
    <li>
      <a class="font-semibold" href="#" target="_blank">Men's Rowing, Division I NCAA Student Athlete | Madison, WI: 2015-2019</a>
      </li>
  </ul>
  <ul class="mx-6 mb-10 grid gap-2">
    <li>
      <a class="font-light text-sm" href="#" target="_blank">
        Varsity 8 Oarsman for the University of Wisconsin Varsity Men’s Crew. Big 10 Division I Student athlete. 25+ hours/week year-round and country wide travel. Necessary summer training to maintain athletic standards for D1 competition. Student Athlete Advisory Committee. Volunteer Work.
        </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honors & Awards</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6 mb-10">
    <li>Academic All-Big Ten Honoree recognizing DI varsity athlete GPA achievement.</li>
    <li>University of Wisconsin – Men’s Rowing Student Athlete of the Year.</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Strengths</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6 mb-10">
    <li>Inovative mindset</li>
    <li>Free thinker</li>
    <li>Independent problem solver</li>
    <li>Troubleshooting</li>
  </ul>
</BaseLayout>
