---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
  </div>

  <div class="mb-10 text-justify">
    BACKGROUND INFORMATION ON MY RESUME
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S. Mechanical Engineering | Thermal Focus | Division I Graduate Assistant Coach"
      subtitle="2020 to 2021 at the University of Wisconsin - Madison, Madison, WI"
    />
    <TimeLineElement
      title="B.S. Mechanical Engineering | Minor in Mathematics | NCAA Division I Athlete"
      subtitle="2015 to 2020 at the University of Wisconsin - Madison, Madison, WI"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Independent Contractor..."
      subtitle="2024 to Present"
    >
      NEW EXPERIENCE SINCE JAN 2024 HERE
    </TimeLineElement>
    <TimeLineElement
      title="Thermal Engineer - Vulcan Rocket Major Development & Upgrades"
      subtitle="2022 to 2024 at United Launch Alliance (ULA), Denver, CO"
    >
    ULA INFO HERE
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certified Bitcoin Maximalist. Fiat disrespector. (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>Thermodynamic Energy Balance Modeling</li>
    <li>Heat Transfer Analysis</li>
    <li>Thermal Desktop, RadCAD, Sinda Fluint</li>
    <li>Engineering Equation Solver (EES)</li>
    <li>CAD: Onshape, SpaceClaim, Fusion360, NX, Solidworks, Autodesk, Creo Parametric</li>
    <li>Programing: Python, C++, Matlab, HTML</li>
    <li>FEA, CFD</li>
  </ul>

  <ul class="list-disc mx-6 mb-10 grid gap-2"></ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Strengths</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>Inovative mindset</li>
    <li>Free thinker</li>
    <li>Independent problem solver</li>
    <li>Troubleshooting</li>
  </ul>
</BaseLayout>
