---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
  </div>

  <div class="mb-10 text-justify">
    Welcome to my Resume. See details about my work experience, education, skills and extracurriculars below.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Founder & Business Owner"
      subtitle="January 2024 - Present | Exergy LLC, Denver, CO"
    >
      Founded Exergy LLC, an engineering consulting firm that designs heating systems powered by bitcoin mining. Our thermal solutions lower utility costs and support network decentraliztion. We maximize efficiency and monetize heat. Established block 828310.
      <br/><br/>I specialize in heat audit analysis to assess hashrate heating feasibility, thermal system design, HVAC and forced air systems, hydronic heating, electric utility optimization, Bitcoin mining integration, feasibility studies, and thermo-economic modeling to identify cost-saving opportunities.<br/><br/>
    </TimeLineElement>
    <TimeLineElement
      title="Thermal Engineer - Vulcan Rocket Major Development & Upgrades"
      subtitle="November 2022 - January 2024 | United Launch Alliance (ULA), Denver, CO"
    >
      I conducted heat transfer and thermodynamic analysis for the Vulcan Centaur Rocket Upgrades Program, leveraging principles of heat transfer and thermodynamics to evaluate various rocket components. This work involved close collaboration with multiple engineering teams to gather critical data—such as environmental conditions, model logic, thermophysical properties, and trajectories—for creating simulated vehicle mission thermal analyses.
      <br/><br/>I also contributed to the thermal development of the reuse program, participating in early concept design discussions focused on reusing booster engines. This included performing design trades for thermal protection systems to ensure vehicle survival in new operational environments. Additionally, I provided on-console thermal support during tests and launches, monitoring live data, analyzing results, and communicating findings to key stakeholders.<br/><br/>
    </TimeLineElement>
    <TimeLineElement
      title="Graduate Assistant Coach - Men's Rowing"
      subtitle="Fall 2019 - Summer 2021 | University of Wisconsin Athletic Department"
    >
    As a graduate assistant coach for Wisconsin Men’s Rowing, I honed leadership, education, and organizational skills while guiding and developing young Division I varsity athletes. I had the privilege of contributing to the growth and success of the team, fostering discipline, teamwork, and athletic excellence within a highly competitive Division I NCAA program.<br/><br/>
    </TimeLineElement>
    <TimeLineElement
      title="Manufacturing Engineering Intern - Kohler"
      subtitle="Summer 2019 | Kohler Company, Kohler, WI"
    >
    Focused on lean manufacturing, production line optimization, and waste reduction, including implementing one-piece flow systems. Designed and integrated CAD part fixtures, developed CNC programs, and improved manufacturing process flows. Gained hands-on experience on the factory floor, collaborating with machinists, tooling teams, and product developers to rapidly prototype solutions and address production obstacles efficiently.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Community Involvement & Leadership</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Co-Founder & CEO of The Space, a Rocky Mountain Bitcoin Citadel"
      subtitle="April 2024 - Present"
    >
    As the first elected Chief Executive Officer of The Space, I co-founded and now lead a grassroots, member-run Bitcoin social hub. Our organization fosters community, education, and innovation by offering events, resources, and workspace tailored to Bitcoin enthusiasts and professionals.<br/><br/>
    Through this role, I have developed a broad skill set in organizational leadership, event management, financial stewardship, and community engagement, while advancing the mission of Bitcoin education and adoption in the Rocky Mountain region.
    </TimeLineElement>
    <TimeLineElement
      title="President - Denver BitDevs"
      subtitle="2022 - Present"
    >
    Co-Organizer and President of the local Denver BitDevs chapter.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S. Mechanical Engineering | Thermal Focus | Division I Graduate Assistant Coach"
      subtitle="Sept. 2020 - August 2021 | University of Wisconsin - Madison, Madison, WI"
    />
    <TimeLineElement
      title="B.S. Mechanical Engineering | Minor in Mathematics | NCAA Division I Athlete"
      subtitle="Sept. 2015 - May 2020 | University of Wisconsin - Madison, Madison, WI"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certified Bitcoin Maximalist. Fiat disrespector.</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills & Tools</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li><strong>Information Technology and FOSS:</strong> Java, HTML, Astro, Nextcloud, StartOS, Wordpress, Proxmox, Tailscale, </li>
    <li><strong>Heat Transfer & Energy Balances:</strong> Engineering Equation Solver (EES), Thermal Desktop, Sinda, RadCAD</li>
    <li><strong>Engineering Problem Solving:</strong> MATLAB/Simulink, Ansys FEA, CFD, LabVIEW, GT-Power, Wave, EES</li>
    <li><strong>Modeling and Drafting:</strong> GD&T, Machining, SpaceClaim, NX, Creo, Solidworks, Autodesk, Fusion360, OnShape</li>
    <li><strong>Programming & PLM:</strong> C, Python, MATLAB, G Code, Fortran, Sinda, Windchill, Teamcenter</li>
  </ul>

  <ul class="list-disc mx-6 mb-10 grid gap-2"></ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Extracurriculars</div>
  </div>

  <ul class="list-disc mx-6 mb-2 grid gap-2">
    <li>
      <a class="font-semibold">Men's Rowing, Division I NCAA Student Athlete | Madison, WI: 2015-2019</a>
      </li>
  </ul>
  <ul class="mx-6 mb-10 grid gap-2">
    <li>
      <a class="font-light text-sm">
        Varsity 8 Oarsman for the University of Wisconsin Varsity Men’s Crew. Big 10 Division I Student athlete. 25+ hours/week year-round and country wide travel. Necessary summer training to maintain athletic standards for D1 competition. Student Athlete Advisory Committee. Volunteer Work.
        </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honors & Awards</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6 mb-10">
    <li>Academic All-Big Ten Honoree recognizing DI varsity athlete GPA achievement.</li>
    <li>University of Wisconsin – Men’s Rowing Student Athlete of the Year.</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Strengths</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6 mb-10">
    <li>Inovative mindset</li>
    <li>Free thinker</li>
    <li>Leader</li>
    <li>Independent problem solver</li>
    <li>Entrepreneur</li>
    <li>Engineering insight</li>
  </ul>
</BaseLayout>
