---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";

---

<BaseLayout title="Support" sideBarActiveItemID="support">
  <div class="mb-5">
    <div class="text-3xl text-left font-bold">Support My Work</div>
  </div>

  <div class="mb-10 text-left">
    If you'd like to support my work, you can donate via any of the payment methods below. Thank you!
  </div>

  <div class="mb-5 text-center" style="max-width: 390px; margin: auto;">
    <div class="text-2xl font-bold mb-2">Bitcoin on Chain</div>
    <img src="/river_onchain.png" alt="Bitcoin QR Code" class="mb-4" style="max-width: 200px; display: block; margin: auto;"/>
    <code class="mb-5 bg-gray-200 text-sm rounded p-2 inline-block" style="margin-top: 10px; word-break: break-all;">bc1qsfrz79yv5a06f3qnwvfulerrngvmq8gek42wqh</code>
</div>


  <section class="mb-5 text-center">
    <h2 class="text-2xl font-bold mb-2">Bitcoin Lightning</h2>
    <code class="mb-3 bg-gray-200 text-sm rounded p-2 inline-block" style="margin-top: 10px;">tandolphin1@primal.net</code>
  </section>

  <!-- Container for side-by-side display including Venmo, with centered text -->
  <div class="flex flex-wrap justify-center gap-4 mb-5">
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-2">Strike</h2>
      <a href="https://strike.me/tylerkstevens/" target="_blank" class="btn btn-primary">Donate via Strike</a>
    </div>

    <div class="text-center">
      <h2 class="text-2xl font-bold mb-2">Cash App</h2>
      <a href="https://cash.app/$tylerkstevens" target="_blank" class="btn btn-primary">Donate via Cash App</a>
    </div>

    <div class="text-center">
      <h2 class="text-2xl font-bold mb-2">Venmo</h2>
      <a href="https://venmo.com/u/tylerkstevens" target="_blank" class="btn btn-primary">Donate via Venmo</a>
    </div>
  </div>
</BaseLayout>
