---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Support" sideBarActiveItemID="Support">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Support my work</div>
  </div>

  <div class="support-option">
    <h2 class="text-2xl mb-2">Bitcoin on chain</h2>
    <img src="/river_onchain.png" alt="Bitcoin QR Code" class="mb-10" style="max-width: 200px;"/>
    <code class="bg-gray-200 text-sm rounded p-2 mb-10">bc1qsfrz79yv5a06f3qnwvfulerrngvmq8gek42wqh</code>
  </div>

  <!-- Placeholder for another payment method -->
  <div class="support-option">
    <h2 class="text-2xl mb-2">Bitcoin Lightning</h2>
    <code class="bg-gray-200 text-sm rounded p-2 mb-10">tandolphin1@primal.net</code>
  </div>

  <div class="mb-5 support-option">
    <h2 class="text-2xl mb-2">Strike</h2>
    <a href="https://strike.me/tylerkstevens/" target="_blank" class="btn btn-primary mb-4">Donate via Strike</a>
  </div>

  <div class="mb-5 support-option">
    <h2 class="text-2xl mb-2">Cash App</h2>
    <a href="https://cash.app/$tylerkstevens" target="_blank" class="btn btn-primary mb-4">Donate via Cash App</a>
  </div>
</div>
</BaseLayout>
